{% extends 'header.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{{ block('headerapp') }}
  <div class="login-container">
    <h2>Create an Account on WareSaurus</h2>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
      <div class="register_form">
        {{ form_widget(registrationForm.email) }}
        {{ form_widget(registrationForm.plainPassword) }}
        <div class="d-flex flex-row justify-space-between">
          {{ form_row(registrationForm.agreeTerms) }}
          <button class="green-button" type="submit">Register</button>
        </div>
      </div>
    {{ form_end(registrationForm) }}
    <div class="d-flex w-320 mt-2 align-center">
      <p>Already have an account?</p>
      <a href="{{path('app_login')}}" class="green-button ml-3">Login</a>
    </div>

    <body>
</div>

  <footer>
    <p>© 2023. WareSaurus All Rights Reserved.</p>
  </footer>
</body>
{% endblock %}
