{% extends 'header.html.twig' %}

{% block body %}
{{ block('headerapp') }}

<div class="cart-container">
    <h1>My cart</h1>
    <div class="user-products">
        <div class="flex-col w-100 br-right">
            {% for product in products %}
                <div class="cart-content-left">
                
                    <div class="cart-content-left-items cart-img-containter">
                        <img class="size-150 object-fit-contain" src="{{ asset(product.product_img) }}" alt="">
                    </div>
                    <div class="cart-content-left-items pl-3">
                        <h3>{{ product.product_title }}</h3>
                        <p>{{ product.price }} €</p>
                        <p>Quantity : {{ product.quantity }}</p>
                    </div>
            </div>
            {% endfor %}
        </div>
        <div class="cart-content-right pl-3 align-center">
                <h2 class="text-center">Total</h2>
                <p>{{totalPrice}} €</p>
            <a class="order-btn" href="">Order</a>
        </div>
    </div>
</div>

</div>

{% endblock %}